.see-password {
  margin-top: 4px;
}
.wrapper div:nth-child(4) {
  margin-top: 5px;
}
h1{
    font-size: 32px;
}
.wrapper .login-register-button {
  margin-top: 10px;
}
.status-message{
  margin-top: 0px;
}